/* ---------------------------------------------------------
   1. General reset
   2. Common site styles
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/

$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/* ---------------------------------------------------------
   1. General reset
   ---------------------------------------------------------*/
    
/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
html{
  height:100%;
}

body {
  font-family: $base-font-family;
  background:$body-bg;
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
  @media only screen and ( max-width: $screen-sm - 1){
    font-size: 13px;
  }
}

a,
button {
  outline:none;
}

q, q:before, q:after {quotes: none;}
q:before, q:after {content: '';}

blockquote {
  margin: 0 0 20px;
}

/* set styles for default page links */
a{
  outline: none !important;
  transition:all 0.3s ease 0s;
  text-decoration: underline;
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  vertical-align: top;
  max-width: 100%;
}

/* set default styles in all browsers */
textarea{
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  -webkit-appearance:none;
  -webkit-border-radius:0;
}
select {
  box-shadow:none !important;
  outline:none !important;
}
label{vertical-align:middle;}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding:0;
  border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}
textarea,
input[type=submit],
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type=url],
input[type=number]{
  -webkit-border-radius:0;
  outline:none;
  box-shadow:none !important;
}

table, caption, tbody, tfoot, thead, tr, th, td{
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  margin:0 0 15px;
  border: none;

}

td,
th {
  padding:5px;
  text-align: left;
  border: 1px solid #ccc;
}

mark {
  background:none;
  padding: 0;
}

iframe,
video {
  max-width:100%;
}

ul {
  @extend %listreset;
  list-style-position: outside;
  li {
    list-style-position: outside;
    list-style: none;
  }
}

h1 {
  @media only screen and ( max-width: $screen-lg - 1){
    font-size: 70px;
    line-height: 76px;
  }
}

.container-fluid {
  @media only screen and ( max-width: $screen-sm - 1){
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ---------------------------------------------------------
   2. Сommon site styles
   ---------------------------------------------------------*/

/* main container styles */
#wrapper {
	width: 100%;
  position: relative;
  display:table-cell;
  table-layout: fixed;
  @media only screen and ( max-width: $screen-sm - 1){
    overflow: hidden;
  }
}

/* header styles */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  background: $bg-dark;
  &:before {
    position: absolute;
    bottom: -26px;
    height: 26px;
    left: 0;
    right: 0;
    background:url(../images/mask-header.png) repeat-x 50% 100%;
    content:'';
    @media only screen and ( max-width: $screen-md - 1){
      bottom: -21px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      bottom: -17px;
    }
  }
  &.active {
    &:before {
      background:url(../images/mask-header-drop.png) repeat-x 50% 100%;
    }
  }
  @media only screen and ( max-width: $screen-md - 1){
    position: relative;
  }
}

.header-holder {
  padding: 18px 3px 5px 6px;
  margin: 0 auto;
  @extend %clearfix;
  @media only screen and ( max-width: $screen-md - 1){
    padding: 18px 0 5px;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    padding: 7px 0 0;
    margin: 0 -10px;
  }
}

.navbar {
  padding-top:0;
  padding-bottom:0;
  border: none;
}

/* page logo styles */
.navbar-brand {
  margin:0 !important;
  width: 167px;
  height: 52px;
  padding: 0 !important;
  img {
    display: block;
    width: 100%;
    @media only screen and ( max-width: $screen-sm - 1){
      display: none;
    }
  }
  @media only screen and ( max-width: $screen-sm - 1){
    width: 92px;
    height: 29px;
    background:url(../images/logo-mobile.png) no-repeat;
    margin: 0 0 0 10px !important;
  }
}

.navbar-collapse {
  float: right;
  box-shadow:none;
  margin: 13px 0 0;
  @media only screen and ( max-width: $screen-md - 1){
    margin: 0;
    float: none;
    width: auto;
    margin: 0 -20px!important;
    background: #1a1a1a;
    border: none !important;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    margin: 0 !important;
  }
}

.navbar-toggle {
  float: right;
  width: 16px;
  height: 14px;
  background: none;
  border-radius: 0 !important;
  border: none;
  margin: 17px 10px 0 0;
  padding: 0;

  .icon-bar {
    border-radius: 0;
    margin: 0 auto;
    width: 16px;
    background:#b53c5e;
    height: 3px;
    transform:rotate(45deg);
    &  + .icon-bar {
      margin-top:-3px;
      transform:rotate(-45deg);
    }
    & + .icon-bar + .icon-bar {
      display: none;
    } 
  }
  &.collapsed {
    .icon-bar {
      margin: 0 auto 0;
      transform:none;
      height: 2px;
      &  + .icon-bar {
        transform:none;
        margin-top:4px;
        transform:none;
      } 
      & + .icon-bar + .icon-bar {
        display: block;
        transform:none;
      } 
    }
  }
  &:hover {
    opacity:0.8;
  }
  @media only screen and ( max-width: $screen-md - 1){
    display: block;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    margin: 9px 10px 0 0;
  }
}

/* main navigation styles */
.navbar-nav {
  float: left;
  font:300 18px/20px $alt-font-family;
  margin: 1px 0 0;
  li {
    float: left;
    margin: 0 0 0 7px;
    position: relative;
    padding: 0 0 0 11px;
    &:before {
      content:'/';
      clear:both;
      color: $red;
      font-weight: 300;
      margin: 0 5px 0 0;
      width: 5px;
    }
    &.active {
      a {
        text-decoration: none;
        color: #ac244a !important;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      float: none;
      padding: 0;
      margin: 0 0 25px;
    }
  }
  a {
    display: inline-block !important;
    vertical-align: top;
    @media only screen and ( max-width: $screen-md - 1){
      padding: 0 !important;
    }
  }
  @media only screen and ( max-width: $screen-md - 1){
    float: none;
    padding:25px 13px 2px;
    background:url(../images/top-menu.png) repeat-x;
    margin: 0;
  }
}

.link-holder {
  float: left;
  @media only screen and ( max-width: $screen-md - 1){
    width: 100%;
    padding: 13px 13px 5px;
    background:#282828 url(../images/top-mask.png) repeat-x;
  }
}

/* switch language links styles */
.language-link {
  float: left;
  letter-spacing: -4px;
  margin: 0 0 0 20px;
  text-decoration: none;
  span {
    font:13px/15px $alt-font-family;
    color:$body-bg;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    transition:all 0.3s ease 0s;
    display: none;
    margin: 0 0 0 14px;
    @media only screen and ( max-width: $screen-md - 1){
      display: block;
      display: inline-block;
    }
  }
  img {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
  }
  &:hover {
    span {
      color: #ac244a;
    }
  }
  @media only screen and ( max-width: $screen-md - 1){
    margin: 0;
  }
}

.container-fluid {
  max-width: 1080px;
  margin: 0 auto;
  .header-holder & {
    max-width: none;
  }
  .footer-frame & {
    max-width: none;
  }
}

.illustration-block {
  position: relative;
  margin: -10px 0 14px;
  img {
    display: block;
    width: 100%;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    margin: 33px 0 62px;
  }
}

.text-section {
  font:20px/30px $alt-font-family;
  color: $dark;
  padding: 53px 0 68px;
  margin: 0 0 30px;
  @extend .section-bg;
  .visual {
    img {
      vertical-align: top;
      @media only screen and ( max-width: $screen-sm - 1){
        max-width: 88px;
        margin: 0 auto;
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      margin: -39px 0 0;
    }
  }
  .description {
    padding-top: 19px;
    @media only screen and ( max-width: $screen-sm - 1){
      padding-top: 23px;
    }
  }
  p {
    margin: 0;
  }
  h2 {
    font:40px/42px $alt-font-family;
    color: $dark;
    margin: 0 0 31px;
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 20px;
    }
  }
  .sticker {
    bottom: -47px;
    left: 66px;
    width: 139px;
    background:url(../images/label3.png) no-repeat;
    height: 73px;
    &.sticker-top {
      top: -36px;
      right: 23px;
      bottom: auto;
      left: auto;
      width: 155px;
      background:url(../images/label2.png) no-repeat;
      height: 64px;
      position: absolute;
      @media only screen and ( max-width: $screen-md - 1){
        top: -74px;
      }
      @media only screen and ( max-width: $screen-sm - 1){
        display: block;
        right: -29px;
        width: 77px;
        top: -65px;
        height: 31px;
        background:url(../images/label2.png) no-repeat;
        background-size: 77px 31px;
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      display: none;
    }
  }
  @media only screen and ( max-width: $screen-lg - 1){
    margin: 0;
  }
  @media only screen and ( max-width: $screen-md - 1){
    text-align: center;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    font-size: 13px;
    line-height: 20px;
    padding: 30px 0 12px;
    margin: 0 0 30px;
  }
}

.section-bg {
  position: relative;
  z-index: 3;
  .wrap {
    background: url(../images/bg-c.jpg);
    @media only screen and ( min-width: 2000px){
      overflow: hidden;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media only screen and ( max-width: $screen-sm - 1) {
       background: url(../images/bg-c-mobile.jpg);
    }
  }
  .container-fluid>* {
    position: relative;
    z-index: 2;
  }
  &:before,
  &:after {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
   // height: 460px;
    height: 390px;
    background: url(../images/bg-t.png) no-repeat;
    background-size: cover;
    content:'';
   @media only screen and ( max-width: $screen-sm - 1){
      background: url(../images/bg-t-mobile.png) repeat-x;
      background-size: 100% 100%;
      height: 146px;
    }
  }
  &:after {
    bottom:-50px;
    top: auto;
    height: 475px;
    /* height: 429px; */
    background: url(../images/bg-b.png) no-repeat 0 100%;
    background-size: cover;
    @media only screen and ( max-width: $screen-sm - 1){
      background: url(../images/bg-b.png) no-repeat 0 100%;
      background-size: 100% 100%;
      height: 200px;
    }
  }
}

.title-section {
  .sticker-bottom {
    left: auto;
    right: 30px;
    z-index: 999;
    bottom: -20px;
    width: 131px;
    height: 71px;
    background: url(../images/label8.png) no-repeat;
    @media only screen and ( max-width: $screen-sm - 1){
      background: url(../images/label-mobile.png) no-repeat;
      background-size: 33px 28px;
      width: 33px;
      height: 28px;
      right:0;
      bottom: 0;
    }
  }
  .heading-col {
    padding-top: 147px;
    padding-bottom: 190px;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 13px;
      right: 0;
      content:'';
      @media only screen and ( max-width: $screen-sm - 1){
        left: 12px;
      }
    }
    &.separator1 {
      &:before {
        top: 10px;
        left: 23px;
        background: url(../images/separator1.png) no-repeat;
        background-size: auto 100%;
        @media only screen and ( max-width: $screen-sm - 1){
          left: 12px;
        }
      }
    }
    &.separator2 {
      &:before {
        top: 13px;
        background: url(../images/separator2.png) no-repeat;
        background-size: auto 100%;
      }
    }
    &.separator3 {
      &:before {
        top: 13px;
        background: url(../images/separator3.png) no-repeat;
        background-size: auto 100%;
      }
    }
    &.separator4 {
      padding-top: 152px;
      padding-bottom: 120px;
      &:before {
        top: 10px;
        left: 25px;
        background: url(../images/separator4.png) no-repeat;
        background-size: auto 100%;
        @media only screen and ( max-width: $screen-md - 1){
          top: 7px;
        }
        @media only screen and ( max-width: $screen-sm - 1){
          left: 7px;
        }
      }
      @media only screen and ( max-width: $screen-lg - 1){
        padding-top: 108px;
        padding-bottom: 108px;
      }
      @media only screen and ( max-width: $screen-md - 1){
        padding-top: 96px;
        padding-bottom: 74px;
      }
      @media only screen and ( max-width: $screen-sm - 1){
        padding-top: 35px;
        padding-bottom: 30px;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      padding-top: 110px;
      padding-bottom: 130px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      padding-top: 50px;
      padding-bottom: 52px;
    }
  }
  h1 {
    background: $body-bg;
    margin: 0;
    padding: 5px 0;
    font:300 92px/102px $alt-font-family;
    display: inline-block;
    vertical-align: top;
    color: $dark;
    span {
      display: block;
      font-family: $title-font-family;
      @media only screen and ( max-width: $screen-sm - 1){
        padding: 3px 0 0;
      }
    }
    &:before {
      content:'>';
      clear:both;
      font-family: $alt-font-family;
      display: inline-block;
      vertical-align: top;
      color: $red;
      font-weight: 300;
      margin: 0 14px 0 0;
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0 3px 0 0;
      }
    }
    @media only screen and ( max-width: $screen-lg - 1){
      font-size: 70px;
      line-height: 76px;
    }
    @media only screen and ( max-width: $screen-md - 1){
      font-size: 50px;
      line-height: 56px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 25px;
      line-height: 27px;
      margin: 0 -36px 0 0;
    }
  }
  &.center {
    @media only screen and ( max-width: $screen-sm - 1){
      background-position: 96% 50% !important;
    }
  }
  @media only screen and ( min-width: 2000px){
    margin-bottom: -2%;
  }
  @media only screen and ( max-width: $screen-lg - 1){
    background-size: 36% auto !important;
  }
  @media only screen and ( max-width: $screen-md - 1){
    background-size: 37% auto !important;
    margin: 0 0 17px;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    margin: 0 0 51px;
    padding-left: 13px;
    background-size: 38% auto !important;
    background-position: 96% 100% !important;
  }
}

/* main informative part styles */
#main {
  margin: 0 0 -9px;
  overflow: hidden;
  @media only screen and ( max-width: $screen-sm - 1){
    margin: 0 0 -41px;
  }
}

/* products list styles */
.about-block {
  @extend .section-bg;
  padding: 165px 0 63px;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 1.46;
  font-family: $alt-font-family;
  &:after {
    bottom: -38px;
  }
  .image-holder {
    display: flex;
    justify-content: flex-center;
    flex-wrap: nowrap;
    align-items: center;
    height: 220px;
    margin: 0 0 18px;
    img {
      vertical-align: top;
      display: block;
      margin: 0 auto;
      @media only screen and ( max-width: $screen-sm - 1){
        display: block;
        width: 100%;
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      max-width: 38%;
      margin: 0 auto 18px;
      height: auto;
    }
  }
  h2 {
    margin: 0 0 20px;
    padding: 0 17px 0 0;
    font:40px/1.2 $title-font-family;
    &:before {
      content:'/';
      clear:both;
      font-family: $alt-font-family;
      display: inline-block;
      vertical-align: top;
      color: $red;
      font-weight: 300;
      margin: 0 14px 0 0;
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0 10px 0 0;
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 25px;
      margin: 0 0 16px;
      padding: 0;
    }
  }
  p {
    margin: 0 0 19px;
  }
  .more {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    &:before {
      content:'>';
      clear:both;
      display: inline-block;
      vertical-align: top;
      color: $dark;
      margin: 1px 9px 0 0;
    }
    span {
      text-decoration: underline;
    }
    &:hover {
      span {
        text-decoration: none;
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 16px;
    }
  }
  .col {
    &:last-child {
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      margin-bottom: 38px;
    }
  }
  .sticker {
    @media only screen and ( max-width: $screen-sm - 1){
      bottom: -41px;
    }
  }
  .wrap {
    @media only screen and ( max-width: $screen-sm - 1){
      padding: 48px 0 0;
    }
  }
  @media only screen and ( max-width: $screen-md - 1){
    padding: 100px 0 63px;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    padding: 0 0 23px;
    line-height: 20px;
  }
}

.sticker {
  position: absolute !important;
  bottom: -25px;
  left: 37px;
  background: url(../images/label1.png) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 163px;
  height: 54px;
  @media only screen and ( max-width: $screen-sm - 1){
    left: -42px;
    width: 94px;
    height: 33px;
    background: url(../images/label1.png) no-repeat;
    background-size: 94px 33px;
  }
}

/* product item styles */
.info-section {
  @extend .section-bg;
  padding: 49px 0 42px;
  line-height: 1.46;
  font-family: $alt-font-family;
  .article {
    overflow: hidden;
    margin: 0 0 87px;
    &:last-child {
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      margin: 0 0 30px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      margin: 0 0 40px;
    }
  }
  .visual {
    img {
      @media only screen and ( max-width: $screen-sm - 1){
        display: block;
        width: 100%;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      margin: 0 0 20px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      max-width: 38%;
      margin: 0 auto 18px;
    }
  }
  h1 {
    font:300 92px/1.2 $alt-font-family;
    margin: 0 0 60px;
    color: $dark;
    letter-spacing: -3px;
    &:before {
      content:'>';
      clear:both;
      font-family: $alt-font-family;
      display: inline-block;
      vertical-align: top;
      color: $red;
      font-weight: 300;
      margin: 0 21px 0 0;
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0 12px 0 0;
      }
    }
    @media only screen and ( max-width: $screen-lg - 1){
      font-size: 70px;
      line-height: 76px;
      margin: 0 0 40px;
    }
    @media only screen and ( max-width: $screen-md - 1){
      font-size: 50px;
      line-height: 56px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 30px;
      margin: 0 0 3px;
    }
  }
  h2 {
    margin: 0 0 20px;
    padding: 0 17px 0 0;
    font:40px/1.2 $title-font-family;
    color: $red;
    &:before {
      content:'/';
      clear:both;
      font-family: $alt-font-family;
      display: inline-block;
      vertical-align: top;
      color: $red;
      font-weight: 300;
      margin: 0 14px 0 0;
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0 9px 0 3px;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      font-size: 36px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 25px;
      margin: 0 0 17px;
    }
  }
  p {
    margin: 0 0 41px;
    @media only screen and ( max-width: $screen-md - 1){
      margin: 0 0 20px;
    }
  }
  .more {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    span {
      text-decoration: underline; 
    }
    &:before {
      content:'>';
      clear:both;
      display: inline-block;
      vertical-align: top;
      color: $dark;
      margin: 1px 9px 0 0;

    }
    &:hover {
      span {
        text-decoration: none;  
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 13px;
    }
  }
  .sticker {
    bottom: -61px;
    left: auto;
    right: 34px;
    background-image: url(../images/label5.png);
    width: 185px;
    height: 79px;
    @media only screen and ( max-width: $screen-sm - 1){
      right: -33px;
      top: auto;
      bottom: -57px;
      width: 71px;
      height: 31px;
      background:url(../images/label5.png) no-repeat;
      background-size: 71px 31px;
    }
  }
  .sticker1 {
    top: -49px;
    bottom: auto;
    left: auto;
    right: 110px;
    background-image: url(../images/label4.png);
    width: 198px;
    height: 84px;
    @media only screen and ( max-width: $screen-md - 1){
      top: -100px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      right: -3px;
      top: -60px;
      width: 71px;
      height: 31px;
      background:url(../images/label4.png) no-repeat;
      background-size: 71px 31px;
      display: block;
    }
  }
  .sticker2 {
    top: -73px;
    bottom: auto;
    left: 81px;
    right: auto;
    background-image: url(../images/label6.png);
    width: 189px;
    height: 80px;
    @media only screen and ( max-width: $screen-sm - 1){
      display: none;
    }
  }
  .sticker3 {
    top: auto;
    bottom: -68px;
    left: 88px;
    right: auto;
    background-image: url(../images/label7.png);
    width: 156px;
    height: 103px;
    @media only screen and ( max-width: $screen-sm - 1){
      display: none;
    }
  }
  @media only screen and ( max-width: $screen-sm - 1){
    margin: 0 0 30px;
    padding:  0 0 10px;
    line-height: 20px;
  }
}

/* footer styles */
#footer {
    overflow:hidden;
    display:table-footer-group;
    height:1%;
    table-layout: fixed;
}

.footer-section {
  position: relative;
  &:before {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    height: 28px;
    background:url(../images/mask-footer.png) repeat-x 50% 0;
    content:'';
  }
}

.footer-frame {
  background: $bg-dark;
  padding: 64px 0 103px;
  font-family: $alt-font-family;
  .logo-footer {
    width: 145px;
    height: 45px;
    display: block;
    margin: 0 0 26px -3px;
    img {
      @media only screen and ( max-width: $screen-sm - 1){
        display: block;
        width: 100%;
      }
    }
    @media only screen and ( max-width: $screen-sm - 1){
      width: 92px;
      height: 28px;
      margin: 0 0 25px;
    }
  }
  .logo-partner {
      img {
        @media only screen and ( max-width: $screen-sm - 1){
          display: block;
          width: 100%;
        }
      }
      @media only screen and ( max-width: $screen-sm - 1){
        width: 127px;
        height: 27px;
        display: block;
      }
  }
  .sticker {
    top: -46px;
    bottom: auto;
    left: auto;
    right: 29px;
    background-image: url(../images/label8.png);
    width: 131px;
    height: 71px;
    @media only screen and ( max-width: $screen-sm - 1){
      right: -34px;
      top: -25px;
      width: 66px;
      height: 41px;
      background:url(../images/label5.png) no-repeat;
      background-size: 66px 41px;
    }
  }
  p {
    margin: 0 0 16px;
  }
  .copy {
    overflow: hidden;
    margin: 0 0 18px;
    @media only screen and ( max-width: $screen-sm - 1){
      margin: 0 0 3px;
    }
  }
  @media only screen and ( max-width: $screen-sm - 1){
    padding: 14px 12px 20px;
  }
}

.col-copy {
  float: left;
  width: 30%;
  padding: 0 0 0 5px;
  font-size: 12px;
  color: $white;
  line-height: 1.35;
  @media only screen and ( max-width: $screen-sm - 1){
    float: none;
    width: 100%;
    padding:0 0 39px;
    font-size: 10px;
    line-height: 16px;
  }
}

.footer-nav {
  float: right;
  width: 64.4%;
  >ul {
    @extend %listreset;
    font: 300 18px/20px $alt-font-family;
    overflow: hidden;
    padding: 1px 0 0;
    >li {
      float: left;
      width: 20%;
      ul {
        @extend %listreset;
        padding-top: 13px;
        font: 300 12px/22px $alt-font-family;
        a {
          &:before {
            margin: 0 6px 0 0;
            content:'>';
          }
        }
        @media only screen and ( max-width: $screen-sm - 1){
          font-size: 10px;
          line-height: 20px;
          padding-top: 15px;
        }
      }
      @media only screen and ( max-width: $screen-sm - 1){
        float: none;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 0 -3px 0 0;
        padding: 0 10px 39px 0;
      }
    }
    @media only screen and ( max-width: $screen-md - 1){
      font-size: 15px;
    }
    @media only screen and ( max-width: $screen-sm - 1){
      font-size: 12px;
    }
  }
  a {
    color: $nav-color;
    text-decoration: none;
    span {
      text-decoration: underline;
    }
    &:hover {
      span {
        text-decoration: none;
      }
    }
    &:before {
      margin: 0 5px 0 0;
      display: inline-block;
      vertical-align: top;
      content:'/';
      color: $red;
      @media only screen and ( max-width: $screen-sm - 1){
        margin: 0 3px 0 0;
      }
    }
  }
  @media only screen and ( max-width: $screen-md - 1){
    width: 65%;
  }
  @media only screen and ( max-width: $screen-sm - 1){
    width: 100%;
    float: none;
  }
}

/* ---------------------------------------------------------
   3. Styles for Responsive web design
   ---------------------------------------------------------*/