@charset "UTF-8";
/* ---------------------------------------------------------
   1. General reset
   2. Common site styles
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/
ul, .footer-nav > ul, .footer-nav > ul > li ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after, .header-holder:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

@-webkit-viewport  {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* ---------------------------------------------------------
   1. General reset
   ---------------------------------------------------------*/
/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
html {
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%; }
  body.content-page, body.editor {
    display: block; }
  @media only screen and (max-width: 767px) {
    body {
      font-size: 13px; } }

a,
button {
  outline: none; }

q, q:before, q:after {
  quotes: none; }

q:before, q:after {
  content: ''; }

blockquote {
  margin: 0 0 20px; }

/* set styles for default page links */
a {
  outline: none !important;
  transition: all 0.3s ease 0s;
  text-decoration: underline; }
  a:focus {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

iframe {
  vertical-align: top;
  max-width: 100%; }

/* set default styles in all browsers */
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

select {
  box-shadow: none !important;
  outline: none !important; }

label {
  vertical-align: middle; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

textarea,
input[type=submit],
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type=url],
input[type=number] {
  -webkit-border-radius: 0;
  outline: none;
  box-shadow: none !important; }

table, caption, tbody, tfoot, thead, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  margin: 0 0 15px;
  border: none; }

td,
th {
  padding: 5px;
  text-align: left;
  border: 1px solid #ccc; }

mark {
  background: none;
  padding: 0; }

iframe,
video {
  max-width: 100%; }

ul {
  list-style-position: outside; }
  ul li {
    list-style-position: outside;
    list-style: none; }

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 70px;
    line-height: 76px; } }

@media only screen and (max-width: 767px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px; } }

/* ---------------------------------------------------------
   2. Сommon site styles
   ---------------------------------------------------------*/
/* main container styles */
#wrapper {
  width: 100%;
  position: relative;
  display: table-cell;
  table-layout: fixed; }
  body.content-page #wrapper {
    display: block; }
  @media only screen and (max-width: 767px) {
    #wrapper {
      overflow: hidden; } }

.column-wrap {
  max-width: 1040px;
  margin: auto; }

/* header styles */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  background: #000; }
  #header:before {
    position: absolute;
    bottom: -26px;
    height: 26px;
    left: 0;
    right: 0;
    background: url(../images/mask-header.png) repeat-x 50% 100%;
    content: ''; }
    @media only screen and (max-width: 1023px) {
      #header:before {
        bottom: -21px; } }
    @media only screen and (max-width: 767px) {
      #header:before {
        bottom: -17px; } }
  #header.active:before {
    background: url(../images/mask-header-drop.png) repeat-x 50% 100%; }
  @media only screen and (max-width: 1023px) {
    #header {
      position: relative; } }

.header-holder {
  padding: 18px 3px 5px 6px;
  margin: 0 auto; }
  @media only screen and (max-width: 1023px) {
    .header-holder {
      padding: 18px 0 5px; } }
  @media only screen and (max-width: 767px) {
    .header-holder {
      padding: 7px 0 0;
      margin: 0 -10px; } }

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  border: none; }

/* page logo styles */
.navbar-brand {
  margin: 0 !important;
  width: 167px;
  height: 52px;
  padding: 0 !important; }
  .navbar-brand img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 767px) {
      .navbar-brand img {
        display: none; } }
  @media only screen and (max-width: 767px) {
    .navbar-brand {
      width: 92px;
      height: 29px;
      background: url(../images/logo-mobile.png) no-repeat;
      margin: 0 0 0 10px !important; } }

.navbar-collapse {
  float: right;
  box-shadow: none;
  margin: 13px 0 0; }
  @media only screen and (max-width: 1023px) {
    .navbar-collapse {
      margin: 0;
      float: none;
      width: auto;
      margin: 0 -20px !important;
      background: #1a1a1a;
      border: none !important; } }
  @media only screen and (max-width: 767px) {
    .navbar-collapse {
      margin: 0 !important; } }

.navbar-toggle {
  float: right;
  width: 16px;
  height: 14px;
  background: none;
  border-radius: 0 !important;
  border: none;
  margin: 17px 10px 0 0;
  padding: 0; }
  .navbar-toggle .icon-bar {
    border-radius: 0;
    margin: 0 auto;
    width: 16px;
    background: #b53c5e;
    height: 3px;
    transform: rotate(45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: -3px;
      transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar + .icon-bar {
      display: none; }
  .navbar-toggle.collapsed .icon-bar {
    margin: 0 auto 0;
    transform: none;
    height: 2px; }
    .navbar-toggle.collapsed .icon-bar + .icon-bar {
      transform: none;
      margin-top: 4px;
      transform: none; }
    .navbar-toggle.collapsed .icon-bar + .icon-bar + .icon-bar {
      display: block;
      transform: none; }
  .navbar-toggle:hover {
    opacity: 0.8; }
  @media only screen and (max-width: 1023px) {
    .navbar-toggle {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .navbar-toggle {
      margin: 9px 10px 0 0; } }

/* main navigation styles */
.navbar-nav {
  float: left;
  font: 300 18px/20px "Ubuntu", Arial, Helvetica, sans-serif;
  margin: 1px 0 0; }
  .navbar-nav li {
    float: left;
    margin: 0 0 0 7px;
    position: relative;
    padding: 0 0 0 11px; }
    .navbar-nav li:before {
      content: '/';
      clear: both;
      color: #ad244b;
      font-weight: 300;
      margin: 0 5px 0 0;
      width: 5px; }
    .navbar-nav li.active a {
      text-decoration: none;
      color: #ac244a !important; }
    @media only screen and (max-width: 1023px) {
      .navbar-nav li {
        float: none;
        padding: 0;
        margin: 0 0 25px; } }
  .navbar-nav a {
    display: inline-block !important;
    vertical-align: top; }
    @media only screen and (max-width: 1023px) {
      .navbar-nav a {
        padding: 0 !important; } }
  @media only screen and (max-width: 1023px) {
    .navbar-nav {
      float: none;
      padding: 25px 13px 2px;
      background: url(../images/top-menu.png) repeat-x;
      margin: 0; } }

.subnav {
  background: url(../images/subnav_bg.jpg) center center repeat-x;
  text-align: right;
  padding: 40px 20px 20px 20px;
  margin-bottom: 20px; }
  .subnav li {
    display: inline-block;
    margin-left: 20px; }
    .subnav li a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none; }
      .subnav li a:hover {
        text-decoration: underline; }
  @media only screen and (min-width: 1024px) {
    .subnav {
      padding: 120px 20px 20px 20px; } }

.link-holder {
  float: left; }
  @media only screen and (max-width: 1023px) {
    .link-holder {
      width: 100%;
      padding: 13px 13px 5px;
      background: #282828 url(../images/top-mask.png) repeat-x; } }

/* switch language links styles */
.language-link {
  float: left;
  letter-spacing: -4px;
  margin: 0 0 0 20px;
  text-decoration: none; }
  .language-link span {
    font: 13px/15px "Ubuntu", Arial, Helvetica, sans-serif;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    transition: all 0.3s ease 0s;
    display: none;
    margin: 0 0 0 14px; }
    @media only screen and (max-width: 1023px) {
      .language-link span {
        display: block;
        display: inline-block; } }
  .language-link img {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0; }
  .language-link:hover span {
    color: #ac244a; }
  @media only screen and (max-width: 1023px) {
    .language-link {
      margin: 0; } }

.container-fluid {
  max-width: 1080px;
  margin: 0 auto; }
  .header-holder .container-fluid {
    max-width: none; }
  .footer-frame .container-fluid {
    max-width: none; }

.illustration-block {
  position: relative;
  margin: -10px 0 14px; }
  .illustration-block img {
    display: block;
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .illustration-block {
      margin: 33px 0 62px; } }

.text-section {
  font: 20px/30px "Ubuntu", Arial, Helvetica, sans-serif;
  color: #2c2c2c;
  padding: 53px 0 68px;
  margin: 0 0 30px; }
  .text-section .visual img {
    vertical-align: top; }
    @media only screen and (max-width: 767px) {
      .text-section .visual img {
        max-width: 88px;
        margin: 0 auto; } }
  @media only screen and (max-width: 767px) {
    .text-section .visual {
      margin: -39px 0 0; } }
  .text-section .description {
    padding-top: 19px; }
    @media only screen and (max-width: 767px) {
      .text-section .description {
        padding-top: 23px; } }
  .text-section p {
    margin: 0; }
  .text-section h2 {
    font: 40px/42px "Ubuntu", Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    margin: 0 0 31px; }
    @media only screen and (max-width: 767px) {
      .text-section h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 20px; } }
  .text-section .sticker {
    bottom: -47px;
    left: 66px;
    width: 139px;
    background: url(../images/label3.png) no-repeat;
    height: 73px; }
    .text-section .sticker.sticker-top {
      top: -36px;
      right: 23px;
      bottom: auto;
      left: auto;
      width: 155px;
      background: url(../images/label2.png) no-repeat;
      height: 64px;
      position: absolute; }
      @media only screen and (max-width: 1023px) {
        .text-section .sticker.sticker-top {
          top: -74px; } }
      @media only screen and (max-width: 767px) {
        .text-section .sticker.sticker-top {
          display: block;
          right: -29px;
          width: 77px;
          top: -65px;
          height: 31px;
          background: url(../images/label2.png) no-repeat;
          background-size: 77px 31px; } }
    @media only screen and (max-width: 767px) {
      .text-section .sticker {
        display: none; } }
  @media only screen and (max-width: 1300px) {
    .text-section {
      margin: 0; } }
  @media only screen and (max-width: 1023px) {
    .text-section {
      text-align: center; } }
  @media only screen and (max-width: 767px) {
    .text-section {
      font-size: 13px;
      line-height: 20px;
      padding: 30px 0 12px;
      margin: 0 0 30px; } }

.section-bg, .text-section, .about-block, .info-section {
  position: relative;
  z-index: 3; }
  .section-bg .wrap, .text-section .wrap, .about-block .wrap, .info-section .wrap {
    background: url(../images/bg-c.jpg); }
    @media only screen and (min-width: 2000px) {
      .section-bg .wrap, .text-section .wrap, .about-block .wrap, .info-section .wrap {
        overflow: hidden;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px; } }
    @media only screen and (max-width: 767px) {
      .section-bg .wrap, .text-section .wrap, .about-block .wrap, .info-section .wrap {
        background: url(../images/bg-c-mobile.jpg); } }
  .section-bg .container-fluid > *, .text-section .container-fluid > *, .about-block .container-fluid > *, .info-section .container-fluid > * {
    position: relative;
    z-index: 2; }
  .section-bg:before, .text-section:before, .about-block:before, .info-section:before, .section-bg:after, .text-section:after, .about-block:after, .info-section:after {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    height: 390px;
    background: url(../images/bg-t.png) no-repeat;
    background-size: cover;
    content: ''; }
    @media only screen and (max-width: 767px) {
      .section-bg:before, .text-section:before, .about-block:before, .info-section:before, .section-bg:after, .text-section:after, .about-block:after, .info-section:after {
        background: url(../images/bg-t-mobile.png) repeat-x;
        background-size: 100% 100%;
        height: 146px; } }
  .section-bg:after, .text-section:after, .about-block:after, .info-section:after {
    bottom: -50px;
    top: auto;
    height: 475px;
    /* height: 429px; */
    background: url(../images/bg-b.png) no-repeat 0 100%;
    background-size: cover; }
    @media only screen and (max-width: 767px) {
      .section-bg:after, .text-section:after, .about-block:after, .info-section:after {
        background: url(../images/bg-b.png) no-repeat 0 100%;
        background-size: 100% 100%;
        height: 200px; } }

.title-section .sticker-bottom {
  left: auto;
  right: 30px;
  z-index: 999;
  bottom: -20px;
  width: 131px;
  height: 71px;
  background: url(../images/label8.png) no-repeat; }
  @media only screen and (max-width: 767px) {
    .title-section .sticker-bottom {
      background: url(../images/label-mobile.png) no-repeat;
      background-size: 33px 28px;
      width: 33px;
      height: 28px;
      right: 0;
      bottom: 0; } }

.title-section .heading-col {
  padding-top: 147px;
  padding-bottom: 190px; }
  .title-section .heading-col:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
    right: 0;
    content: ''; }
    @media only screen and (max-width: 767px) {
      .title-section .heading-col:before {
        left: 12px; } }
  .title-section .heading-col.separator1:before {
    top: 10px;
    left: 23px;
    background: url(../images/separator1.png) no-repeat;
    background-size: auto 100%; }
    @media only screen and (max-width: 767px) {
      .title-section .heading-col.separator1:before {
        left: 12px; } }
  .title-section .heading-col.separator2:before {
    top: 13px;
    background: url(../images/separator2.png) no-repeat;
    background-size: auto 100%; }
  .title-section .heading-col.separator3:before {
    top: 13px;
    background: url(../images/separator3.png) no-repeat;
    background-size: auto 100%; }
  .title-section .heading-col.separator4 {
    padding-top: 152px;
    padding-bottom: 120px; }
    .title-section .heading-col.separator4:before {
      top: 10px;
      left: 25px;
      background: url(../images/separator4.png) no-repeat;
      background-size: auto 100%; }
      @media only screen and (max-width: 1023px) {
        .title-section .heading-col.separator4:before {
          top: 7px; } }
      @media only screen and (max-width: 767px) {
        .title-section .heading-col.separator4:before {
          left: 7px; } }
    @media only screen and (max-width: 1300px) {
      .title-section .heading-col.separator4 {
        padding-top: 108px;
        padding-bottom: 108px; } }
    @media only screen and (max-width: 1023px) {
      .title-section .heading-col.separator4 {
        padding-top: 96px;
        padding-bottom: 74px; } }
    @media only screen and (max-width: 767px) {
      .title-section .heading-col.separator4 {
        padding-top: 35px;
        padding-bottom: 30px; } }
  @media only screen and (max-width: 1023px) {
    .title-section .heading-col {
      padding-top: 110px;
      padding-bottom: 130px; } }
  @media only screen and (max-width: 767px) {
    .title-section .heading-col {
      padding-top: 50px;
      padding-bottom: 52px; } }

.title-section h1 {
  background: #fff;
  margin: 0;
  padding: 5px 0;
  font: 300 92px/102px "Ubuntu", Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: top;
  color: #2c2c2c; }
  .title-section h1 span {
    display: block;
    font-family: "Permanent Marker", cursive; }
    @media only screen and (max-width: 767px) {
      .title-section h1 span {
        padding: 3px 0 0; } }
  .title-section h1:before {
    content: '>';
    clear: both;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
    color: #ad244b;
    font-weight: 300;
    margin: 0 14px 0 0; }
    @media only screen and (max-width: 767px) {
      .title-section h1:before {
        margin: 0 3px 0 0; } }
  @media only screen and (max-width: 1300px) {
    .title-section h1 {
      font-size: 70px;
      line-height: 76px; } }
  @media only screen and (max-width: 1023px) {
    .title-section h1 {
      font-size: 50px;
      line-height: 56px; } }
  @media only screen and (max-width: 767px) {
    .title-section h1 {
      font-size: 25px;
      line-height: 27px;
      margin: 0 -36px 0 0; } }

@media only screen and (max-width: 767px) {
  .title-section.center {
    background-position: 96% 50% !important; } }

@media only screen and (min-width: 2000px) {
  .title-section {
    margin-bottom: -2%; } }

@media only screen and (max-width: 1300px) {
  .title-section {
    background-size: 36% auto !important; } }

@media only screen and (max-width: 1023px) {
  .title-section {
    background-size: 37% auto !important;
    margin: 0 0 17px; } }

@media only screen and (max-width: 767px) {
  .title-section {
    margin: 0 0 51px;
    padding-left: 13px;
    background-size: 38% auto !important;
    background-position: 96% 100% !important; } }

/* main informative part styles */
#main {
  margin: 0 0 -9px;
  overflow: hidden; }
  body.content-page #main {
    margin-bottom: 0; }
  @media only screen and (max-width: 767px) {
    #main {
      margin: 0 0 -41px; }
      body.content-page #main {
        margin-bottom: 0; } }

/* products list styles */
.about-block {
  padding: 165px 0 63px;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 1.46;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif; }
  .about-block:after {
    bottom: -38px; }
  .about-block .image-holder {
    display: flex;
    justify-content: flex-center;
    flex-wrap: nowrap;
    align-items: center;
    height: 220px;
    margin: 0 0 18px; }
    .about-block .image-holder img {
      vertical-align: top;
      display: block;
      margin: 0 auto; }
      @media only screen and (max-width: 767px) {
        .about-block .image-holder img {
          display: block;
          width: 100%; } }
    @media only screen and (max-width: 767px) {
      .about-block .image-holder {
        max-width: 38%;
        margin: 0 auto 18px;
        height: auto; } }
  .about-block h2 {
    margin: 0 0 20px;
    padding: 0 17px 0 0;
    font: 40px/1.2 "Permanent Marker", cursive; }
    .about-block h2:before {
      content: '/';
      clear: both;
      font-family: "Ubuntu", Arial, Helvetica, sans-serif;
      display: inline-block;
      vertical-align: top;
      color: #ad244b;
      font-weight: 300;
      margin: 0 14px 0 0; }
      @media only screen and (max-width: 767px) {
        .about-block h2:before {
          margin: 0 10px 0 0; } }
    @media only screen and (max-width: 767px) {
      .about-block h2 {
        font-size: 25px;
        margin: 0 0 16px;
        padding: 0; } }
  .about-block p {
    margin: 0 0 19px; }
  .about-block .more {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none; }
    .about-block .more:before {
      content: '>';
      clear: both;
      display: inline-block;
      vertical-align: top;
      color: #2c2c2c;
      margin: 1px 9px 0 0; }
    .about-block .more span {
      text-decoration: underline; }
    .about-block .more:hover span {
      text-decoration: none; }
    @media only screen and (max-width: 767px) {
      .about-block .more {
        font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .about-block .col:last-child {
      margin: 0; } }
  @media only screen and (max-width: 1023px) {
    .about-block .col {
      margin-bottom: 38px; } }
  @media only screen and (max-width: 767px) {
    .about-block .sticker {
      bottom: -41px; } }
  @media only screen and (max-width: 767px) {
    .about-block .wrap {
      padding: 48px 0 0; } }
  @media only screen and (max-width: 1023px) {
    .about-block {
      padding: 100px 0 63px; } }
  @media only screen and (max-width: 767px) {
    .about-block {
      padding: 0 0 23px;
      line-height: 20px; } }

.sticker {
  position: absolute !important;
  bottom: -25px;
  left: 37px;
  background: url(../images/label1.png) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 163px;
  height: 54px; }
  @media only screen and (max-width: 767px) {
    .sticker {
      left: -42px;
      width: 94px;
      height: 33px;
      background: url(../images/label1.png) no-repeat;
      background-size: 94px 33px; } }

/* product item styles */
.info-section {
  padding: 49px 0 42px;
  line-height: 1.46;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif; }
  .info-section .article {
    overflow: hidden;
    margin: 0 0 87px; }
    @media only screen and (max-width: 767px) {
      .info-section .article:last-child {
        margin: 0; } }
    @media only screen and (max-width: 1023px) {
      .info-section .article {
        margin: 0 0 30px; } }
    @media only screen and (max-width: 767px) {
      .info-section .article {
        margin: 0 0 40px; } }
  @media only screen and (max-width: 767px) {
    .info-section .visual img {
      display: block;
      width: 100%; } }
  @media only screen and (max-width: 1023px) {
    .info-section .visual {
      margin: 0 0 20px; } }
  @media only screen and (max-width: 767px) {
    .info-section .visual {
      max-width: 38%;
      margin: 0 auto 18px; } }
  .info-section h1 {
    font: 300 92px/1.2 "Ubuntu", Arial, Helvetica, sans-serif;
    margin: 0 0 60px;
    color: #2c2c2c;
    letter-spacing: -3px; }
    .info-section h1:before {
      content: '>';
      clear: both;
      font-family: "Ubuntu", Arial, Helvetica, sans-serif;
      display: inline-block;
      vertical-align: top;
      color: #ad244b;
      font-weight: 300;
      margin: 0 21px 0 0; }
      @media only screen and (max-width: 767px) {
        .info-section h1:before {
          margin: 0 12px 0 0; } }
    @media only screen and (max-width: 1300px) {
      .info-section h1 {
        font-size: 70px;
        line-height: 76px;
        margin: 0 0 40px; } }
    @media only screen and (max-width: 1023px) {
      .info-section h1 {
        font-size: 50px;
        line-height: 56px; } }
    @media only screen and (max-width: 767px) {
      .info-section h1 {
        font-size: 30px;
        margin: 0 0 3px; } }
  .info-section h2 {
    margin: 0 0 20px;
    padding: 0 17px 0 0;
    font: 40px/1.2 "Permanent Marker", cursive;
    color: #ad244b; }
    .info-section h2:before {
      content: '/';
      clear: both;
      font-family: "Ubuntu", Arial, Helvetica, sans-serif;
      display: inline-block;
      vertical-align: top;
      color: #ad244b;
      font-weight: 300;
      margin: 0 14px 0 0; }
      @media only screen and (max-width: 767px) {
        .info-section h2:before {
          margin: 0 9px 0 3px; } }
    @media only screen and (max-width: 1023px) {
      .info-section h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .info-section h2 {
        font-size: 25px;
        margin: 0 0 17px; } }
  .info-section p {
    margin: 0 0 41px; }
    @media only screen and (max-width: 1023px) {
      .info-section p {
        margin: 0 0 20px; } }
  .info-section .more {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none; }
    .info-section .more span {
      text-decoration: underline; }
    .info-section .more:before {
      content: '>';
      clear: both;
      display: inline-block;
      vertical-align: top;
      color: #2c2c2c;
      margin: 1px 9px 0 0; }
    .info-section .more:hover span {
      text-decoration: none; }
    @media only screen and (max-width: 767px) {
      .info-section .more {
        font-size: 13px; } }
  .info-section .sticker {
    bottom: -61px;
    left: auto;
    right: 34px;
    background-image: url(../images/label5.png);
    width: 185px;
    height: 79px; }
    @media only screen and (max-width: 767px) {
      .info-section .sticker {
        right: -33px;
        top: auto;
        bottom: -57px;
        width: 71px;
        height: 31px;
        background: url(../images/label5.png) no-repeat;
        background-size: 71px 31px; } }
  .info-section .sticker1 {
    top: -49px;
    bottom: auto;
    left: auto;
    right: 110px;
    background-image: url(../images/label4.png);
    width: 198px;
    height: 84px; }
    @media only screen and (max-width: 1023px) {
      .info-section .sticker1 {
        top: -100px; } }
    @media only screen and (max-width: 767px) {
      .info-section .sticker1 {
        right: -3px;
        top: -60px;
        width: 71px;
        height: 31px;
        background: url(../images/label4.png) no-repeat;
        background-size: 71px 31px;
        display: block; } }
  .info-section .sticker2 {
    top: -73px;
    bottom: auto;
    left: 81px;
    right: auto;
    background-image: url(../images/label6.png);
    width: 189px;
    height: 80px; }
    @media only screen and (max-width: 767px) {
      .info-section .sticker2 {
        display: none; } }
  .info-section .sticker3 {
    top: auto;
    bottom: -68px;
    left: 88px;
    right: auto;
    background-image: url(../images/label7.png);
    width: 156px;
    height: 103px; }
    @media only screen and (max-width: 767px) {
      .info-section .sticker3 {
        display: none; } }
  @media only screen and (max-width: 767px) {
    .info-section {
      margin: 0 0 30px;
      padding: 0 0 10px;
      line-height: 20px; } }

.footer-banner {
  text-transform: uppercase;
  padding: 40px 0 60px 0;
  margin-top: 20px;
  background: url(../images/stars.png) center center, #ff6e74;
  background: url(../images/stars.png) center center, -moz-linear-gradient(top, #ff6e74 7%, #e2827d 70%, #f0bdbb 100%);
  background: url(../images/stars.png) center center, -webkit-linear-gradient(top, #ff6e74 7%, #e2827d 70%, #f0bdbb 100%);
  background: url(../images/stars.png) center center, linear-gradient(to bottom, #ff6e74 7%, #e2827d 70%, #f0bdbb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e74', endColorstr='#f0bdbb',GradientType=0 ); }
  .footer-banner .push-down {
    margin-bottom: -250px; }

/* footer styles */
#footer {
  overflow: hidden;
  display: table-footer-group;
  height: 1%;
  table-layout: fixed; }
  body.content-page #footer {
    display: block;
    height: auto;
    overflow: initial;
    box-shadow: 0px 500px 0px 500px #000;
    -moz-box-shadow: 0px 500px 0px 500px #000;
    -webkit-box-shadow: 0px 500px 0px 500px #000; }

.footer-section {
  position: relative; }
  .footer-section:before {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    height: 28px;
    background: url(../images/mask-footer.png) repeat-x 50% 0;
    content: ''; }

.footer-frame {
  background: #000;
  padding: 64px 0 103px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif; }
  .footer-frame .logo-footer {
    width: 145px;
    height: 45px;
    display: block;
    margin: 0 0 26px -3px; }
    @media only screen and (max-width: 767px) {
      .footer-frame .logo-footer img {
        display: block;
        width: 100%; } }
    @media only screen and (max-width: 767px) {
      .footer-frame .logo-footer {
        width: 92px;
        height: 28px;
        margin: 0 0 25px; } }
  @media only screen and (max-width: 767px) {
    .footer-frame .logo-partner img {
      display: block;
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .footer-frame .logo-partner {
      width: 127px;
      height: 27px;
      display: block; } }
  .footer-frame .sticker {
    top: -46px;
    bottom: auto;
    left: auto;
    right: 29px;
    background-image: url(../images/label8.png);
    width: 131px;
    height: 71px; }
    @media only screen and (max-width: 767px) {
      .footer-frame .sticker {
        right: -34px;
        top: -25px;
        width: 66px;
        height: 41px;
        background: url(../images/label5.png) no-repeat;
        background-size: 66px 41px; } }
  .footer-frame p {
    margin: 0 0 16px; }
  .footer-frame .copy {
    overflow: hidden;
    margin: 0 0 18px; }
    @media only screen and (max-width: 767px) {
      .footer-frame .copy {
        margin: 0 0 3px; } }
  @media only screen and (max-width: 767px) {
    .footer-frame {
      padding: 14px 12px 20px; } }

.col-copy {
  float: left;
  width: 30%;
  padding: 0 0 0 5px;
  font-size: 12px;
  color: #fff;
  line-height: 1.35; }
  .col-copy p a {
    color: inherit; }
  @media only screen and (max-width: 767px) {
    .col-copy {
      float: none;
      width: 100%;
      padding: 0 0 39px;
      font-size: 10px;
      line-height: 16px; } }

.footer-nav {
  float: right;
  width: 64.4%; }
  .footer-nav > ul {
    font: 300 18px/20px "Ubuntu", Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 1px 0 0; }
    .footer-nav > ul > li {
      float: left;
      width: 20%; }
      .footer-nav > ul > li ul {
        padding-top: 13px;
        font: 300 12px/22px "Ubuntu", Arial, Helvetica, sans-serif; }
        .footer-nav > ul > li ul a:before {
          margin: 0 6px 0 0;
          content: '>'; }
        @media only screen and (max-width: 767px) {
          .footer-nav > ul > li ul {
            font-size: 10px;
            line-height: 20px;
            padding-top: 15px; } }
      @media only screen and (max-width: 767px) {
        .footer-nav > ul > li {
          float: none;
          display: inline-block;
          vertical-align: top;
          width: 50%;
          margin: 0 -3px 0 0;
          padding: 0 10px 39px 0; } }
    @media only screen and (max-width: 1023px) {
      .footer-nav > ul {
        font-size: 15px; } }
    @media only screen and (max-width: 767px) {
      .footer-nav > ul {
        font-size: 12px; } }
  .footer-nav a {
    color: #f5da5c;
    text-decoration: none; }
    .footer-nav a span {
      text-decoration: underline; }
    .footer-nav a:hover span {
      text-decoration: none; }
    .footer-nav a:before {
      margin: 0 5px 0 0;
      display: inline-block;
      vertical-align: top;
      content: '/';
      color: #ad244b; }
      @media only screen and (max-width: 767px) {
        .footer-nav a:before {
          margin: 0 3px 0 0; } }
  @media only screen and (max-width: 1023px) {
    .footer-nav {
      width: 65%; } }
  @media only screen and (max-width: 767px) {
    .footer-nav {
      width: 100%;
      float: none; } }

.embedded-editor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

/* ---------------------------------------------------------
   3. Styles for Responsive web design
   ---------------------------------------------------------*/
