<!DOCTYPE html>
<!--
{% block secret %}{% endblock %}
-->
<html>
  <head>
      <title>{% block title %}Python In Education - {% endblock %} {{ page.title }}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="X-Clacks-Overhead" content="GNU John Pinner">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/bootstrap-extended.css">
      <link rel="stylesheet" href="/css/main.css">
      <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
      <script type="text/javascript">
      window.jQuery || document.write('<script src="/js/jquery-1.11.2.min.js"><\/script>')
      </script>
      <script src="/js/bootstrap.min.js"></script>
      <!--[if lt IE 9]>
      <script src="/js/modernizr.js"></script>
      <![endif]-->
  </head>
  <body class="home">
    <div id="wrapper">
      {% block header %}
        <header id="header" class="header">
          <nav class="navbar navbar-default">
            <div class="header-holder">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- page logo -->
                  <a class="navbar-brand" href="/en/"><img alt="Python In Education" src="/images/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <!-- main navigation of the page -->
                  <ul class="nav navbar-nav">
                    <li><a href="/en/#learn">learn</a></li>
                    <li><a href="/en/#teach">teach</a></li>
                    <li><a href="/en/#build">build</a></li>
                    <li><a href="#">micro:bit</a></li>
                    <li><a href="#">raspberry_pi</a></li>
                  </ul>
                  <!-- switch language link -->
                  <div class="link-holder">
                    <a class="language-link" href="#"><img alt="english" src="/images/bg-flag.png"><span>Change language</span></a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </header>
      {% endblock %}

      <main role="main" id="main">
      {% block content %}{% endblock %}
      </main>
    </div>


    {% block footer %}
      <div id="footer">
        <div class="footer-section">
          <div class="footer-frame">
            <div class="container-fluid">
            <div class="col-copy">
              <a href="/en/" class="logo-footer"><img alt="Python In Education" src="/images/logo.png"></a>
              <div class="copy">
                <p>&copy; 2016 The Python Software Foundation. <br>All rights reserved.</p>
                <p>Design by <a href="https://www.blanc.ltd.uk/">Blanc</a></p>
              </div>
              <a href="https://www.python.org/psf-landing/" class="logo-partner"><img alt="Python Software Foundation" src="/images/psf_logo.jpg"></a>
            </div>
              <div class="footer-nav">
                <ul>
                  <li>
                    <a href="/en/#learn">learn</a>
                    <ul>
                      <li><a href="#"><span>editor</span></a></li>
                      <li><a href="#"><span>tutorials</span></a></li>
                      <li><a href="#"><span>cool stuff</span></a></li>
                      <li><a href="#"><span>docs</span></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/en/#teach">teach</a>
                    <ul>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/en/#build">build</a>
                    <ul>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">micro:bit</a>
                    <ul>
                      <li><a href="#"><span>editor</span></a></li>
                      <li><a href="#"><span>tutorials</span></a></li>
                      <li><a href="#"><span>cool stuff</span></a></li>
                      <li><a href="#"><span>docs</span></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">raspberry pi</a>
                    <ul>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                      <li><a href="#"><span>this is a link</span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
  <!-- Python Powered! -->
</html>
