{% extends "page_de.html" %}

{% block secret %}
Herzliche Glückwünsche! Sie haben "the source" gefunden. :-)

Sie sind offensichtlich neugierig ~ und das ist eine gute Sache. Wenn du wissen
willst wie wirklich diese Seite funktioniert, sollten Sie besuchen:

https://github.com/python/pythonineducation.org

Wir freuen uns über Beiträge von jedem, egal, wer Sie sind. Wenn du bist
denken, "aber sie bedeuten mir nicht", MEINEN WIR iHNEN BESONDERS. Für mehr
Informationen finden Sie unter:

https://github.com/python/pythonineducation.org/blob/master/CONTRIBUTING.rst

Die besten Wünsche!
{% endblock %}

{% block title %}MicroPython auf micro:bit - {% endblock %}

{% block body_class %}content-page{% endblock body_class %}

{% block subnav %}
  <div class="subnav">
    <ul>
      <li class="first"><a href="editor">Editor</a></li>
      <li><a href="tutorials">Lernprogramm</a></li>
      <li><a href="stuff">Cooles Zeug</a></li>
      <li><a href="docs">Dokumentation</a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}

{% block footer_banner %}
    <div class="footer-banner" style="vertical-align: bottom;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <img class="push-down" src="/images/hand.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
