{% extends "base.html" %}

{% block secret %}
Congratulations! You have found "the source". :-)

You're obviously inquisitive ~ and this is a good thing. If you want to know
how this site really works you should visit:

https://github.com/python/pythonineducation.org

We welcome contributions from anyone, no matter who you are. If you're
thinking, "but they don't mean me", WE ESPECIALLY MEAN YOU. For more
information see:

https://github.com/python/pythonineducation.org/blob/master/CONTRIBUTING.rst

Best wishes!
{% endblock %}

{% block title %}MicroPython on micro:bit - {% endblock %}

{% block body_class %}inner-page purple-blue{% endblock body_class %}

{% block microbit_menu %}<li class="active"><a href="#">micro:bit</a>
                    <div class="drop">
                      <ul>
                        <li><a href="editor">Editor</a></li>
                        <li><a href="tutorials">Tutorials</a></li>
                        <li><a href="stuff">Cool stuff</a></li>
                        <li><a href="docs">Docs</a></li>
                      </ul>
                    </div>
                  </li>{% endblock %}


{% block content %}
    {{ page.content }}
{% endblock %}
