{% extends "microbit_en.html" %}

{% block body_class %}inner-page red{% endblock body_class %}

{% block content %}
        <div class="main-holder">
          <article class="content-block">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  {{ page.content }}
                </div>
              </div>
            </div>
          </article>
          <div class="cloud-section">
            <section class="staff-block">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h4>RELATED COOL STUFF:</h4>
                    <!-- carousel -->
                    <div class="carousel">
                      <div class="mask-holder">
                        <div class="mask">
                          <div class="slideset">
                            <div class="slide">
                              <!-- single post -->
                              <div class="staff-col">
                                <div class="staff-content">
                                  <div class="visual">
                                    <a href="#"><img src="images/img30.jpg" alt="image description" width="319" height="300"></a>
                                  </div>
                                  <div class="description">
                                    <h3><a href="#">Blast off: School launches micro:bit into space!</a></h3>
                                    <span class="author">By <a href="#">BBC</a></span>
                                  </div>
                                  <a class="more" href="#"><span>Read more</span></a>
                                </div>
                              </div>
                            </div>
                            <div class="slide">
                              <!-- single post -->
                              <div class="staff-col">
                                <div class="staff-content">
                                  <div class="visual">
                                    <a href="#"><img src="images/img31.jpg" alt="image description" width="319" height="300"></a>
                                  </div>
                                  <div class="description">
                                    <h3><a href="#">Meet the robots</a></h3>
                                    <span class="author">By <a href="#">BBC</a></span>
                                  </div>
                                  <a class="more" href="#"><span>Read more</span></a>
                                </div>
                              </div>
                            </div>
                            <div class="slide">
                              <!-- single post -->
                              <div class="staff-col">
                                <div class="staff-content">
                                  <div class="visual">
                                    <a href="#"><img src="images/img32.jpg" alt="image description" width="319" height="300"></a>
                                  </div>
                                  <div class="description">
                                    <h3><a href="#">Making music with micro:bit</a></h3>
                                    <span class="author">By <a href="#">BBC</a></span>
                                  </div>
                                  <a class="more" href="#"><span>Read more</span></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn-prev" href="#">Previous</a>
                      <a class="btn-next" href="#">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="banner-info">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12 banner-wrap">
                      <div class="visual">
                          <img src="images/img23.png" alt="image description" width="338" height="394">
                      </div>
                      <div class="description text-center">
                         <strong class="subtitle">BE BRAVE. BREAK THINGS. LEARN AND HAVE FUN.</strong>
                         <h1>EXPRESS YOURSELF WITH MICROPYTHON</h1> 
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="sticker sticker-bottom"></span>
        </div>
{% endblock %}
