{% extends "base.html" %}

{% block secret %}
Congratulations! You have found "the source". :-)

You're obviously inquisitive ~ and this is a good thing. If you want to know
how this site really works you should visit:

https://github.com/python/pythonineducation.org

We welcome contributions from anyone, no matter who you are. If you're
thinking, "but they don't mean me", WE ESPECIALLY MEAN YOU. For more
information see:

https://github.com/python/pythonineducation.org/blob/master/CONTRIBUTING.rst

Best wishes!
{% endblock %}

{% block header %}
<header>
    <!-- A header in English -->
</header>
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}

{% block footer %}
<footer>
    <!-- A footer in English -->
</footer>
{% endblock %}
